# Public variables (exposed to browser)
NEXT_PUBLIC_SITE_NAME="Simon Stijnen"
NEXT_PUBLIC_SITE_URL="https://simon.stijnen.be"
NEXT_PUBLIC_SITE_DESCRIPTION="Personal portfolio website for Simon Stijnen."
NEXT_PUBLIC_AUTHOR_NAME="Simon Stijnen"
NEXT_PUBLIC_AUTHOR_EMAIL="simon.stijnen.23+portfolio@gmail.com"
NEXT_PUBLIC_GITHUB_URL="https://github.com/SimonStnn"
NEXT_PUBLIC_LINKEDIN_URL="https://www.linkedin.com/in/simon-stijnen/"
NEXT_PUBLIC_GA_ID="G-XXXXXXXXXX" # Google Analytics ID (optional)
NEXT_PUBLIC_GTM_ID="GTM-XXXXXXX"   # Google Tag Manager ID (optional)

# Server-side only
WEBHOOK_URL="https://example.com/webhook" # (optional)
WEBHOOK_ENABLED="false"
